@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Vanessa Campino
   Date:   2021-02-06 

   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html
{
height: 100%;
}

body
{
   margin-left: auto; 
   margin-right: auto;    
   max-width: 960px; 
   min-width: 640px; 
   width: 95%; 
   min-height: 100%;
}

section > img  
{
   display: block; 
}

aside > img
{
   display: block;
}



/* CSS Grid Styles */
body
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   

}

#logo  /*OK*/
{
   grid-column: 1 / span 3;
   width: 100%;


}
.horizontal 
{
   grid-column: 1 / span 4;
} 

footer 
{
   grid-column: 1 / span 4;
}
aside 
{
   grid-column: span 2;
}

/* Horizontal Navigation List Styles */

nav.horizontal li 
{
   display: block;
   width: 12.5%;
   float: left;
}


/* Section Styles */
section img
{  margin-left: auto; 
   margin-right: auto; 
   width: 50%;   
  
}
section p
{
   margin-left: auto; 
   margin-right: auto; 
   width: 70%;    
}
  
   


/* Customer Comment Styles */

   aside:nth-of-type(odd)     /*FIX LATER, NOT ORKING PROPERLY*/
   {
      justify-self: right;
   }
   aside
   {
      width: 75%;
      padding-bottom: 30px; /*OK*/
   }
   aside img
   { 
      width: 20%;
      float:left;
      
   }
   aside p
   {
      float:left;
      width: 70%;
      margin-left: 5%;
   }
